
* {
  box-sizing: border-box;
}

html{
  background: #42ddf5;
}


/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo{
  font-size: 3rem;
  font-style: italic;
  margin-left:100px;
}

.searchBar input{
border-radius: 10px;
padding: 10px;
margin: 20px;
flex-grow: 1;
border-color: black;
font-family: serif;
margin-right: 100px;
}

/* Container */
.container {
  max-width: 120rem;
  margin: 0 auto;
  background: #e8eded;
  padding: 10px 10px 40px;
}

/* Sort Button */

.wrapper{
  text-align: center;
}

.button {
  background-color: #5dc8e8; 
  border: none;
  color: white;
  padding: 16px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 70px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  
}
.button:hover{
  background-color:#87b6c4;
 
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}
.card-content{
   /* background-color: crimson; */
  padding: 1px;
  margin:1px;
  width: 350px;
  height: 350px;
  text-align: center;
  word-break: break-all;
  
}
.media {
  height:210px;
  width: 300px;
  padding: 4px;
  /* background-color: darkmagenta; */
  
}

.MuiCard-root {
  margin:20px;
  padding: 10px;
}

p.MuiTypography-root{
  word-break: break-all;
  font-weight: 500;
}
