
* {
  box-sizing: border-box;
}

html{
  background: #42ddf5;
}


/* Header */

header {
  text-align: center;

}

.logo{
  font-size: 3rem;
  font-style: italic;
  /* margin-left:100px; */
}


/* Container */
.container {
  max-width: 120rem;
  margin: 0 auto;
  background: #e8eded;
  padding: 10px 10px 40px;
}

/* Sort Button */

.wrapper{
  text-align: center;
}

.button {
  background-color: #5dc8e8; 
  border: none;
  color: white;
  padding: 16px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 70px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
}
.button:hover{
  background-color:#87b6c4;
 
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}
.card-content{
   /* background-color: crimson; */
  padding: 1px;
  margin:1px;
  width: 350px;
  height: 350px;
  text-align: center;
  word-break: break-all;
  
}
.media {
  height:210px;
  width: 300px;
  padding: 4px;
  /* background-color: darkmagenta; */
  
}

.MuiCard-root {
  margin:20px;
  padding: 10px;
}

p.MuiTypography-root{
  word-break: break-all;
  font-weight: 500;
}

/* Error message */
.error-message{
  text-align: center;
  color: red;
  font-size:50px;
}

@media only screen and (max-width: 768px) {
 header .logo{
   font-size: 1.5rem;
 }
 .container{
   max-width: 100%;
   cursor: text;
 }
 .error-message{
 font-size: 10px;
}
.button{
  font-size: 16px;
  padding: 10px 30px;
  margin:10px 2px;
}
.card{
  flex-direction: column;
}
.card-content{
  width: auto;
  height: auto;
}
.media{
  height: 150px;
  width: 215px;
}
.MuiCard-root{
  margin:10px;
  padding: 5px;;
}
 
}